/volumes/**
.DS_Store
.env
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log
coverage/
.vscode/
.idea/
*.log
*.tmp
*.bak
*.swp
*.swo 

# compiled output
/dist
/node_modules
/build

backend/**/prisma/schema.prisma
!backend/prisma/schema.prisma
